<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footerFragment" id="footer">
    <div class="foot_inner">
        <span class="copy">@Tnet Global Ltd. All rights reserved.</span>
        <div class="foot_menu_wrap">
            <ul class="foot_sns flex gap-2">
                <li>
                    <a href="https://medium.com/@hwikcircle" target="_blank">SNS1</a>
                </li>
                <li>
                    <a href="https://t.me/hwikcircle" target="_blank">SNS2</a>
                </li>
                <li>
                    <a href="https://t.me/hwikcirclelayer" target="_blank">SNS3</a>
                </li>
                <li>
                    <a href="https://twitter.com/hwikcircle" target="_blank">SNS4</a>
                </li>
            </ul>
        </div>

    </div>

</footer>

</body>
</html>