<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav th:fragment="navFragment" class="navbar flex justify-between lg:justify-end">
    <div class="m_menu">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="global">
        <div sec:authorize="!isAuthenticated()">
            <button type="button" class="conect_btn" data-func="login">
                Connect Wallet
            </button>
            <input type="hidden" id="isLogin" value="false" />
        </div>
        <div sec:authorize="isAuthenticated()">
            <div class="dropdown">
                <button type="button" data-dropdown-toggle="dropdown"  class="conect_btn active" data-bs-toggle="dropdown" aria-expanded="false"
                        th:text="${@thymeleafUtil.addressElipse(#authentication.name)}">
                </button>
                <!-- Dropdown menu -->
                <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                        <li>
                            <a href="#" id="logoutBtn" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>

            <form name="logout_form" id="logout_form" method="post" action="/logout">
            </form>
            <input type="hidden" id="isLogin" value="true" />
            <input type="hidden" id="address" th:value="${#authentication.name}" />
        </div>
    </div>
</nav>

</body>
</html>